<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://uoflvaccinesandtravelclinic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>uoflvaccinesandtravelclinic.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>uoflvaccinesandtravelclinic</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$uoflvaccinesandtravelclinic</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ClinicContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:yv6o8cmvod.database.windows.net,1433;Initial Catalog=UOFLVACTRAV;Integrated Security=False;User ID=CIS420ADMIN@yv6o8cmvod;Password=Cards420!;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Vaccines_and_Travel_Clinic.DAL.ClinicContext, Vaccines_and_Travel_Clinic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:yv6o8cmvod.database.windows.net,1433;Initial Catalog=UOFLVACTRAV;Integrated Security=False;User ID=CIS420ADMIN@yv6o8cmvod;Password=Cards420!;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IdentitySample.Models.ApplicationDbContext, Vaccines_and_Travel_Clinic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClinicContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yv6o8cmvod.database.windows.net,1433;Initial Catalog=UOFLVACTRAV;Integrated Security=False;User ID=CIS420ADMIN@yv6o8cmvod;Password=Cards420!;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yv6o8cmvod.database.windows.net,1433;Initial Catalog=UOFLVACTRAV;Integrated Security=False;User ID=CIS420ADMIN@yv6o8cmvod;Password=Cards420!;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>