<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://uoflvaccinesandtravelclinic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>uoflvaccinesandtravelclinic.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>uoflvaccinesandtravelclinic</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$uoflvaccinesandtravelclinic</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ClinicContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:n84dtg8s6w.database.windows.net,1433;Initial Catalog=uoflvacAB4Mb4Ka3;User ID=UOFLVACTRAV@n84dtg8s6w;Password=CIS420-01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Vaccines_and_Travel_Clinic.DAL.ClinicContext, Vaccines_and_Travel_Clinic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:n84dtg8s6w.database.windows.net,1433;Initial Catalog=uoflvacAB4Mb4Ka3;User ID=UOFLVACTRAV@n84dtg8s6w;Password=CIS420-01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IdentitySample.Models.ApplicationDbContext, Vaccines_and_Travel_Clinic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Models" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:n84dtg8s6w.database.windows.net,1433;Initial Catalog=uoflvacAB4Mb4Ka3;User ID=UOFLVACTRAV@n84dtg8s6w;Password=CIS420-01" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|Models-20150204150203.mdf;Initial Catalog=Models-20150204150203;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Models_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=Models-20150204150203; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|Models-20150204150203.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClinicContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:n84dtg8s6w.database.windows.net,1433;Initial Catalog=uoflvacAB4Mb4Ka3;User ID=UOFLVACTRAV@n84dtg8s6w;Password=CIS420-01</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:n84dtg8s6w.database.windows.net,1433;Initial Catalog=uoflvacAB4Mb4Ka3;User ID=UOFLVACTRAV@n84dtg8s6w;Password=CIS420-01</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Models-Web.config Connection String">
      <ParameterValue>data source=tcp:n84dtg8s6w.database.windows.net,1433;initial catalog=uoflvacAB4Mb4Ka3;user id=UOFLVACTRAV@n84dtg8s6w;password=CIS420-01;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>