
@{
    ViewBag.Title = "Summary";
}


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="jumbotron">
    <h1>Thank you for scheduling an appointment with us!</h1>
    <p>You will recieve an email confirming the selected time and date.</p>
    <p>Please allow 1-2 business days for our staff to respond.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Home")" role="button">Back to Home</a></p>
</div>