@{
    ViewBag.Title = "Contact Us";
}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h3>Contact Us</h3>
    </div>
</div>

<div class="row"><div class="col-md-offset-2 col-md-8"><hr /></div></div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">

        <ul>
            <li style="font-weight:bold">Vaccine and International Travel Center</li>
            <li>Located in the 550 Clinic</li>
            <li>550 S. Jackson Street</li>
            <li>Ambulatory Care Building, 2nd Floor </li>
            <li>Louisville, KY  40202</li>
            <li>Call 502-562-2822</li>
        </ul>
        <p><b>The Vaccine and International Travel Center is open Monday through Friday from 8:30am until 4:30pm. In our mission to provide our travelers with the best quality service, scheduled appointments are necessary.  Please call 502-562-2822 to schedule an appointment.</b></p>
        <p>In order to serve your needs and address your comments and requests, we have moved to a larger space that enables us to continue our growth.</p>
        <p>
            We are now located at 550 S. Jackson Street in downtown Louisville in the University of Louisville Ambulatory Care Building.  For specific directions, click <a href="https://www.google.com/maps/preview#!q=Ambulatory+Care&data=!1m4!1m3!1d14916!2d-85.7408254!3d38.2502542!4m15!2m14!1m13!1s0x0%3A0x6a812a8205e11c1f!3m8!1m3!1d233!2d-85.7453986!3d38.2482489!3m2!1i1914!2i914!4f13.1!4m2!3d38.2482153!4d-85.7454164">
                here
            </a> for Google assistance.
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d783.3393569683843!2d-85.74512905674678!3d38.248015544617296!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6a812a8205e11c1f!2sAmbulatory+Care!5e0!3m2!1sen!2sus!4v1386692935041" width="600" height="450" frameborder="0" style="border:0"></iframe>
        <p>
            Parking is conveniently located in the parking garage that is connected to the Ambulatory Care Building.  Handicap parking is available by the elevators on levels one and two of the garage.   A walkway on the second level of the garage takes you directly to the entrance of the Ambulatory Care Building.  Turn right, then follow the signs to the 550 Clinic Vaccine and International Health and Travel Center.  If you prefer on-street parking, there are meters located on Chestnut and Floyd Streets that offer up to four hours for parking.
        </p>
    </div>
</div>