@{
    ViewBag.Title = "Our Partners";
}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h3>Our Partnerships</h3>
    </div>
</div>

<div class="row"><div class="col-md-offset-2 col-md-8"><hr /></div></div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">

    <img src="~/Images/wwb-logo.JPG" alt="Water With Blessings Logo" />
    <h4>Water With Blessings</h4>
    <h6><b>Clean water</b> for God's thirsty children, through an innovative model that equips mothers with home-based Sawyer filters.</h6>
    <h6><b>Description of partnership</b>:  Clinic clients may purchase high-quality personal water filtration devices with a U of L water bottle.  The purchase enables Water With Blessings to equip more mothers with  larger, long-lasting family-size filters.  The mothers "pay it forward" by filtering for other families.  That's why we call it Water With Blessings!</h6> 
    <h6><b>Why do we partner?</b> Travelers are often at a high risk for water-borne illness, even when they have access to bottled water.  Children are more likely to die by the same illnesses than by any other cause.  This partnership allows travelers to assure their own water security, while bringing the blessing of clean water to children and their families in the developing world. </h6>
    <img src="~/Images/wwb-Margarita.png" alt="Margarita" />
    <h6 >Margarita</h6>
</div>
</div>