@{
    ViewBag.Title = "Our Research";
}

    <h1>Our Research</h1>
    <p>
            Striving for service excellence requires that we gather knowledge from patients, customers, and the community and then link it with science and best practices. At our Vaccine and International Travel Center, our research initiatives involve all of these groups.
            <br /><br />The following represents a snapshot of a few of the research activities currently underway:
    </p>
    <span style="font-weight:bold">Service Quality <br /><br /></span>
    <p>
        In an effort to identify challenges our travelers experience and how well our counseling and medical services are meeting your needs, you may receive an email or phone call from one of our quality research staff.  They may ask about travel-related illness, the medication you may have taken and your perceptions of our services.  Your responses are used to make improvements in all aspects of our operation and help us in our quest for excellence and value.
        <br /><br />Another of our quality and performance projects involves more efficient ways of providing immunization to large groups.  Sometimes called 'mass immunization', our initiatives have helped identify newer, safer, more effective and efficient methods to immunize large groups.  In doing so, our research has resulted in cost savings and higher levels of satisfaction among those vaccinated.
    </p>
    <span style="font-weight:bold">Vaccines and Immunization Acceptance <br /><br /></span>
    <p>
        Understanding knowledge and attitudes regarding immunization helps us recognize what adults in our community want and value.  That knowledge also helps us focus on interventions our community wants to have readily available to them.  Some individuals seen in our clinic may be invited to participate in this study.  Participation may involve a paper and pencil survey or use of an iPad.  Researchers in our Vaccine Center have received funding from Pfizer to support this study.
    </p>
    <span style="font-weight:bold">Vaccine Clinical Trials <br /><br /></span>
    <p>
        The use of vaccines in disease prevention is often be life saving.  Our Vaccine Center is one of only 100 sites in the United States conducting clinical trials involving a vaccine against Clostridium difficile, an emerging infection that is capable of causing severe disease and death.  This clinical trial, that began in August 2013, involves use of a vaccine deemed so effective in early testing that it has been 'fast tracked' by the Food and Drug Administration (FDA).  Our Vaccine Center is enrolling participants in the study and will follow them for up to three years.  This vaccine will be the first one that is able to address an illness that is associated with healthcare.  Anyone who has experienced C.difficile infection, or knows someone who has, can recognize the critical importance of this particular clinical trial.  
    </p>
