@{
    ViewBag.Title = "Our Services";
}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h3>Services</h3>
    </div>
</div>

<div class="row"><div class="col-md-offset-2 col-md-8"><hr /></div></div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">

    <img height="310px" width="440px" src="~/Images/Travelgroup.jpg" alt="Travel Group" />
    <h6>Our team of specialists are trained to fulfill all your illness prevention needs.</h6>
    <p>
        At the Vaccine and International Travel Center, our focus is on the prevention of illness.  This occurs through a variety of activities including Pre-travel, In-travel, and Post-travel services.  Our goal is to prepare you for travel, provide access to our specialists in the event you need information during your travel, and to provide care as needed after you return home.  This comprehensive approach is what sets us apart from other travel health providers.
        <br /><br />
        Whether you are in need of routine immunization, or if you are traveling for business, pleasure, mission work, disaster relief, or adoption activities, we are here to serve you.
        <br /><br />
    <p>
        All new clients, as well as those who have not been seen in the Center for the past year, will need to provide a health history. Click the link below to view and print the health history.
        Children under the age of 18 must be acommpanied by a parent or guardian and <b>must bring a copy of their current immunization certificate.</b></br></br>
        <a href="PatientHealthQuestionnaire.docx">Health History Form</a><br /><br />
    </p>
    We provide Immunization for the following vaccine-preventable diseases:
    <br/>
    <ul>
        <li>Hepatitis A</li>
        <li>Hepatatis B</li>
        <li>Human Papillomavirus(HPV)</li>
        <li>Influenza</li>
        <li>Japanese Encephalitis</li>
        <li>Measles-Mumps-Rubella</li>
        <li>Meningococcus</li>
        <li>Pneumococcus</li>
        <li>Poliomyelitis</li>
        <li>Rabies</li>
        <li>Shingles</li>
        <li>Tetanus/Diphtheria/Pertussis</li>
        <li>Typhoid</li>
        <li>Yellow Fever</li>
        <li>Varicella</li>
    </ul>
        <br />We can provide confirmation of immunity following vaccination
        or infection for the following vaccine-preventable diseases:
    <br />
    <ul>
        <li>Hepatitis A</li>
        <li>Hepatatis B</li>
        <li>Measles-Mumps-Rubella</li>
        <li>Varicella</li>
        <li>Access to specialists during your travel</li>
        <li>Access to specialists after you return from your travel</li>
        <li>Tuberculosis skin testing</li>
        <li>Tuberculosis blood assay testing</li>
        <li>HIV testing</li>
        <li>Blood typing</li>
        <li>Evaluation post-travel</li>
    </ul>
    <br /> 
    <p>
        If you are in need of immigration physical examinations and immunizations requiring a Civil Surgeon, Healthcare personnel immunization programs and program evaluation can be provided on site or in our Vaccine Center.
    </p>
    <br />
    @Html.ActionLink("More about our Civil Surgeon", "Surgeon", "Home")
</div>
</div>
