@{
    ViewBag.Title = "Civil Surgeon";
}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h3>WCivil Surgeon Physical Exams</h3>
    </div>
</div>

<div class="row"><div class="col-md-offset-2 col-md-8"><hr /></div></div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">

    <img src="~/Images/civilsurgeon.JPG" height="200px" width="270px" />
    <h4>Patients must make an Appointment (Call 502-562-2822)</h4>
    <p>
        If you are a refugee resettled to Kentucky through the KY office of Refugees/Catholic Charities, we can provide your civil surgeon examination.  Examinations and immunization are provided only by appointment.  You must bring all required papers and proof of prior health assessments and immunization with you.  You will be seen by a physician who has been designated as a Civil Surgeon by the United States Citizenship and Immigration Services.
        Information regarding this program can be found at the <a href="http://www.uscis.gov" target="_blank">USCIS website</a>.
    </p>
    <p style="text-decoration:underline">
        Items you must bring with you for your exam include:
        <ul>
            <li>Photo ID (driver's license, passport, etc.)</li>
            <li>I94 card stamped "refugee"</li>
            <li>Prior immunization records</li>
        </ul>
    </p>
</div>
</div>